<div class="conatiner p-5" *ngIf="visibilidadeTabela">
    <div class="border border-light rounded p-5">
        <div>
            <button type="button" class="btn btn-sm btn-secondary" (click)="ExibirFormularioCadastro()">Adicionar novo
                usuário</button>
        </div>
        <hr />
        <table class="table table-striped table-hover table-sm" *ngIf="usuarios">
            <tr class="thead-light">
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>E-mail</th>
                <th>Data Nascimento</th>
                <th>Escolaridade</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.sobrenome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                <td>{{ usuario.escolaridade }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-info"
                        (click)="ExibirFormularioAtualizar(usuario.id)">Atualizar</button> |
                    <button type="button" class="btn btn-sm btn-outline-danger"
                    (click)="ExcluirUsuario(usuario.id)">Deletar</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
    <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow" *ngIf="form">
            <h6>{{tituloFormulario}}</h6>
            <hr>
            <form [formGroup]="form" (ngSubmit)="EnviarFormulario()">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control form-control-sm" formControlName="nome" />
                </div>
                <div class="form-group">
                    <label>Sobrenome</label>
                    <input type="text" class="form-control form-control-sm" formControlName="sobrenome" />
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control form-control-sm" formControlName="email" [ngClass]="{ 'is-invalid': submitted && email.email.errors }"/>
                    <div *ngIf="submitted && email.email.errors">                        
                        <small *ngIf="email.email.errors.email" class="text-danger">Por favor digite um e-mail válido</small>
                    </div>
                </div>               
                            
                <div class="form-group">
                    <label>Data Nascimento</label>
                    <input type="date" class="form-control form-control-sm" formControlName="dataNascimento" [max]="getToday()"/>                                        
                </div>
                <div class="form-group">
                    <label>Escolaridade</label>
                    <select type="number" class="form-control form-control-sm" formControlName="escolaridade">
                        <option value="1">Infantil</option>
                        <option value="2">Fundamental</option>
                        <option value="3">Médio</option>
                        <option value="4">Superior</option>
                    </select>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
                        </div>
                        <div class="pl-2">
                            <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
